* {
    box-sizing: border-box;
    padding: 0;
}

html,
body {
    min-height: 100vh;
    font-size: 17px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #faaefa;
    background: linear-gradient(45deg, #59d4fa, #0c1a47);
}

.header {
    padding: 14px;
    background: #03132a;

    &__title {
        text-align: center;
        font-weight: 400;
    }
}